body { font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
button { cursor: pointer;}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.foto {
  display: block;
}
/* header*/
.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-page {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
    margin-left: auto;
    font-style: normal;
    color: #434455;}

.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

.logo {
    /*padding: 24px 0;*/
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}


.nav-item {
    /*padding: 24px 0;*/
    display: block;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.nav-item-link {
   padding: 24px 0;
    font-weight:500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;}

.contact-link {
  padding: 24px 0;
  display: block;
  color: #434455;
}
.nav-item-link:hover,
.nav-item-link:focus {
    color:#404bbf;}

/* header */
  .hero {
    padding: 188px 0;
    background-color: #2e2f42;
    
  }

  .hero-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

  .hero-btn {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;}

  .hero-btn:hover,
  .hero-btn:focus {
   background-color: #404bbf;}

/* section 2*/
 .our-skill {
  padding: 120px 0;
 }
  
  .our-ckill-list {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 120px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

  .our-skill-hd {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

  .our-skill-hd-li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4);
  }

  .our-skill-hd-h {
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

  .our-skill-hd-p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/* section 3*/
   .our-team {
     padding: 120px 0;
     background-color: #F4F4FD;}

   .our-team-head {
     margin-bottom: 72px;
     padding-top: 120px;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     text-transform: capitalize;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;}

    .team-list {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-bottom: 120px;
       }
     
      .our-team-hd-li {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
      }
    .our-team-name {
      padding: 32px 0;
    }

    .our-team-hd-h {
     margin-bottom: 8px;
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;}

    .our-team-hd-p {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
     color: #434455;}

/*section 4*/
 .our-port-section {
  padding-top: 120px;
  padding-bottom: 120px;
 }
  .our-port-head {
    margin-bottom: 72px;
    font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-transform: capitalize;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
  }
  .our-port-ul {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
          padding-bottom: 120px;
     }

  .our-port-list {
    width: calc((100% - 48px) / 3);
  }
  .u-t-t {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

  }
  .pfl-head {
    margin-bottom: 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;}
    
  .pfl-par {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;} 

  .footer {
    padding: 100px 0;
    background-color: #2e2f42;
  }
  .footer-logo-style {
    color: #f4f4fd;
  }
  .logo-futer{
     display: inline-block;
      padding: 24px 0;
      margin-bottom: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
  }
  .footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
  }